.card {
  border: 3px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  margin: 10px auto;

  &:hover {
    cursor: pointer;
    border: 3px solid rgba(#fff, .4);
  }
}